.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;

  &-logo {
    height: 40vmin;
  }

  &-header {
    color: #09d3ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  &-Todo {
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &-Scroll {
    display: flex;
    justify-content: center;
  }
}
